html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --poke-red: #e15c6a;
  --poke-blue: #859dcd;
  --poke-green: #8cbd6b;
  --poke-yellow: #f5e277;
  --poke-black: #545357;
  --poke-gray: #d2d5cd;
  --poke-dark-red: #b83129;
  --poke-white: #ffffff;
}

body {
  background: #e15c6a;
}

.main-search {
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  background-color: var(--poke-white);
  border: 2px solid #545357;
  border-radius: 10px;
  font-size: 32px;
  line-height: 38px;
}

#search-input {
  color: var(--poke-gray);
  width: 569px;
  height: 76px;
  padding-left: 1.2rem;
}

#search-input::placeholder {
  color: var(--poke-gray);
}

#search-option {
  width: 200px;
  height: 76px;
  text-align: center;
  color: var(--poke-black);
}

.go-button {
  border-radius: 50%;
  height: 93px;
  width: 93px;
  background-color: var(--poke-green);
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: 32px;
  color: var(--poke-black);
  border: 0;
  margin-left: 10px;
}

#empty-pokemon-details {
  box-sizing: border-box;
  background-color: var(--poke-green);
  font-family: 'VT323';
  font-weight: 400;
  font-size: 48px;
  border: 2px solid #545357;
  border-radius: 10px;
  width: 554px;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filled-pokemon-details {
  box-sizing: border-box;
  background-color: var(--poke-green);
  font-family: 'VT323';
  font-weight: 400;
  font-size: 48px;
  border: 2px solid #545357;
  border-radius: 10px;
  width: 554px;
  height: 386px;
  display: block;
  padding: 20px;
}

#details-table {
  font-size: 24px;
  width: 95%;
}

.poke-table-data {
  font-size: 18px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 10px;
}

.main-details-table {
  margin-bottom: 0px;
}
