html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  box-sizing: border-box;
}

:root {
  --poke-red: #e15c6a;
  --poke-blue: #859dcd;
  --poke-green: #8cbd6b;
  --poke-yellow: #f5e277;
  --poke-black: #545357;
  --poke-gray: #d2d5cd;
  --poke-dark-red: #b83129;
  --poke-white: #ffffff;
}

body {
  background: linear-gradient(
    to bottom,
    var(--poke-red) 180px,
    var(--poke-dark-red) 100px
  );
}

h1 {
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: 32px;
  color: #545357;
  margin-left: 450px;
  margin-top: 10px;
}

#top-bar {
  display: flex;
  margin-left: 450px;
}

.blue-ellipse {
  position: absolute;
  width: 135px;
  height: 135px;
  left: 30px;
  top: 20px;
  background: var(--poke-blue);
  border-radius: 50%;
}

.red-ellipse {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 180px;
  top: 15px;
  background: var(--poke-dark-red);
  border-radius: 50%;
}

.yellow-ellipse {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 235px;
  top: 15px;
  background: var(--poke-yellow);
  border-radius: 50%;
}

.green-ellipse {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 290px;
  top: 15px;
  background: var(--poke-green);
  border-radius: 50%;
}

.main-search {
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  background-color: var(--poke-white);
  border: 2px solid #545357;
  border-radius: 10px;
  font-size: 32px;
  line-height: 38px;
  box-sizing: border-box;
}

#error-span {
  color: var(--poke-dark-red);
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  margin-left: 460px;
}

#search-input {
  color: var(--poke-gray);
  width: 569px;
  height: 76px;
  padding-left: 1.2rem;
}

#search-input::placeholder {
  color: var(--poke-gray);
}

#search-option {
  width: 200px;
  height: 76px;
  text-align: center;
  color: var(--poke-black);
}

.go-button {
  border-radius: 50%;
  height: 93px;
  width: 93px;
  background-color: var(--poke-green);
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: 32px;
  color: var(--poke-black);
  border: 0;
  margin-left: 10px;
}

#main-display {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 50px;
  height: 800px;
  width: 100%;
}

.big-border {
  background-color: var(--poke-red);
  display: block;
  padding: 35px;
  margin: 30px;
  height: 90%;
}

#image-outer-box {
  background-color: var(--poke-gray);
  width: 525px;
  height: 367px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-inner-box {
  background-color: var(--poke-black);
  width: 477px;
  height: 308px;
  border-radius: 10px;
}

#details-rectangle {
  width: 297px;
  height: 124px;
  background-color: var(--poke-green);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  color: #545357;
  margin: 60px auto;
}

#poke-name {
  font-family: 'VT323';
  font-weight: 400;
  font-size: 48px;
  color: var(--poke-green);
  padding: 15px;
}

#poke-image {
  width: 198px;
  height: 198px;
  margin: 10px 120px;
  display: none;
}

#empty-pokemon-details {
  background-color: var(--poke-green);
  font-family: 'VT323';
  font-weight: 400;
  font-size: 48px;
  border: 2px solid #545357;
  border-radius: 10px;
  width: 554px;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filled-pokemon-details {
  background-color: var(--poke-green);
  font-family: 'VT323';
  font-weight: 400;
  font-size: 48px;
  border: 2px solid #545357;
  border-radius: 10px;
  width: 554px;
  height: 386px;
  display: none;
  padding: 10px;
}

.details-heading {
  margin: 15px 0 0 15px;
}

#details-table {
  font-size: 24px;
  width: 95%;
}

.poke-table-data {
  font-size: 18px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 50px;
  padding: 10px;
}

.heigh-weight-type {
  text-align: center;
  border: 2px solid #000000;
  border-radius: 50px;
}

.poke-moves {
  margin-top: 5px;
  margin-left: 30px;
  font-size: 22px;
  list-style: inside;
}

.go-button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(47, 139, 81, 0.9);
}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#blue-box {
  background: #859dcd;
  border-radius: 10px;
  width: 438px;
  height: 96px;
  margin: 20px auto;
}

#two-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.spacer {
  width: 20px;
}

.grey-box {
  width: 160px;
  height: 78px;
  background: #545357;
  border-radius: 10px;
}

@media only screen and (max-width: 845px) {
  body {
    background: var(--poke-dark-red);
  }

  .blue-ellipse,
  .yellow-ellipse,
  .green-ellipse,
  .red-ellipse {
    display: none;
  }

  h1 {
    background-color: var(--poke-red);
    margin: 0;
    padding: 20px;
    font-size: 36px;
  }

  #top-bar {
    margin-left: 15px;
    padding: 10px;
  }

  #main-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    height: 800px;
  }

  #search-input {
    color: var(--poke-gray);
    width: 300px;
    height: 50px;
    font-size: 18px;
  }

  #search-option {
    width: 130px;
    font-size: 18px;
    height: 50px;
  }

  .go-button {
    margin-top: 5px;
    margin-left: 30px;
  }

  #error-span {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 15px;
  }

  .big-border {
    padding: 15px;
    margin: 10px;
    height: 400px;
  }

  #image-outer-box {
    width: auto;
    height: 70%;
  }

  #image-inner-box {
    background-color: var(--poke-black);
    width: 90%;
    height: 90%;
    border-radius: 10px;
  }

  #poke-image {
    width: 150px;
    height: 150px;
    margin: auto;
    display: none;
  }

  #empty-pokemon-details {
    text-align: center;
    width: 300px;
    height: auto;
  }

  #filled-pokemon-details {
    width: 300px;
    height: auto;
  }

  #blue-box {
    display: none;
  }

  #two-box {
    display: none;
  }

  .spacer {
    display: none;
  }

  .grey-box {
    display: none;
  }

  #details-rectangle {
    height: 70px;
    width: 297px;
    font-size: 40px;
    margin: 30px auto;
  }

  .go-button {
    height: 70px;
    width: 70px;
    font-size: 30px;
  }
}
